body {
    background-color: white;
}

#start {
    height: 100%;
    width: 100%;
    background-image: url(./lixao.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: alternate;
    animation-duration: 200ms;
}


/* 
@keyframes slideRight {
    from {margin-left: -33px;}
    to {margin-left: 0;}
    }
    .slideRight {animation-name: slideRight;
    } */

@keyframes slideLeft {
    from {margin-left: 33px;}
    to {margin-left: 0px;}
}
    .slideRight {animation-name: slideLeft;
}

@keyframes slideRight {
    from {margin-left: -33px;}
    to {margin-left: 0px;}
}
    .slideRight {animation-name: slideRight;
}

@keyframes slideTop {
    from {margin-top: 33px;}
    to {margin-top: 0px;}
}
    .slideRight {animation-name: slideTop;
}

@keyframes slideDown {
    from {margin-top: -33px;}
    to {margin-top: 0px;}
}
    .slideRight {animation-name: slideDown;
}


    


/* estilizar com id diferente */
body > div {
    display: flex;
    /* border: red 1px dotted; */
    height: 40px;
    width: 50%;
}

div > div {
    /* border: blue 1px solid; */
    height: 100%;
    width: 50%;
}


.wall {
    background-image: url(./arvore.webp);
    background-size: cover;
}

#row8 #cell20 {
    background-image: url(./lata.png);
    background-size: cover;
}

#row9 #cell0 {
    background-color: green;
}

body {
    margin-left: 10%;
    margin-top: 4%;
}

h1 {
    text-align: center;
}